In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import re

%matplotlib inline
init_notebook_mode(connected=True)

# Physical House Occupancy Characteristics

In [113]:
state_abbreviations = {
'Alabama': 'AL',
'Alaska': 'AK',
'Arizona': 'AZ',
'Arkansas': 'AR',
'California': 'CA',
'Colorado': 'CO',
'Connecticut': 'CT',
'Delaware': 'DE',
'District of Columbia': 'DC',
'Florida': 'FL',
'Georgia': 'GA',
'Hawaii': 'HI',
'Idaho': 'ID',
'Illinois': 'IL',
'Indiana': 'IN',
'Iowa': 'IA',
'Kansas': 'KS',
'Kentucky': 'KY',
'Louisiana': 'LA',
'Maine': 'ME',
'Maryland': 'MD',
'Massachusetts': 'MA',
'Michigan': 'MI',
'Minnesota': 'MN',
'Mississippi': 'MS',
'Missouri': 'MO',
'Montana': 'MT',
'Nebraska': 'NE',
'Nevada': 'NV',
'New Hampshire': 'NH',
'New Jersey': 'NJ',
'New Mexico': 'NM',
'New York': 'NY',
'North Carolina': 'NC',
'North Dakota': 'ND',
'Ohio': 'OH',
'Oklahoma': 'OK',
'Oregon': 'OR',
'Pennsylvania': 'PA',
'Rhode Island': 'RI',
'South Carolina': 'SC',
'South Dakota': 'SD',
'Tennessee': 'TN',
'Texas': 'TX',
'Utah': 'UT',
'Vermont': 'VT',
'Virginia': 'VA',
'Washington': 'WA',
'West Virginia': 'WV',
'Wisconsin': 'WI',
'Wyoming': 'WY',
'Puerto Rico': 'PR'
}

In [114]:
def convert_value(value):
    if '%' in value:
        return float(value.replace('%', '')) / 100  # Convert percentage to a decimal
    else:
        return int(value.replace(',', ''))  # Remove commas and convert to integer

In [115]:
def clean_house_char_headers(val):
    if isinstance(val, str):
        if 'Occupied' in val:
            val = val.split("!!")[0]
            val = val + "_total"
        elif 'Percent occupied housing units' in val:
            val = val.split("!!")[0]
            val = val + "_total_percent"
        elif 'Owner-occupied housing'in val:
            val = val.split("!!")[0]
            val = val + "_owner"
        elif 'Percent owner-occupied housing units' in val:
            val = val.split("!!")[0]
            val = val + "_own_percent"
        elif 'Renter-occupied housing units' in val:
            val = val.split("!!")[0]
            val = val + "_renter"
        elif 'Percent renter-occupied' in val:
            val = val.split("!!")[0]
            val = val + "_rent_percent"
        else:
            val = val.split("!!")[0]
        return val
    else:
        return val

In [116]:
house_char_data = pd.read_csv('./Data/Physical_Housing_Occup.csv', index_col=0)
house_char_data = house_char_data.rename(columns=clean_house_char_headers)
house_char_data.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Occupied housing units,"2,016,448","2,016,448","1,416,333","1,416,333","600,115","600,115","274,574","274,574","181,586","181,586",...,"176,863","176,863","66,458","66,458","1,289,311","1,289,311","869,635","869,635","419,676","419,676"
UNITS IN STRUCTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1, detached","1,436,137",71.2%,"1,205,520",85.1%,"230,617",38.4%,"170,997",62.3%,"149,053",82.1%,...,"147,580",83.4%,"20,001",30.1%,"890,441",69.1%,"703,191",80.9%,"187,250",44.6%
"1, attached","41,268",2.0%,"23,036",1.6%,"18,232",3.0%,"22,604",8.2%,"13,565",7.5%,...,"7,390",4.2%,"4,919",7.4%,"145,191",11.3%,"83,088",9.6%,"62,103",14.8%
2 apartments,"35,683",1.8%,"1,255",0.1%,"34,428",5.7%,"15,026",5.5%,"4,122",2.3%,...,873,0.5%,"3,457",5.2%,"34,016",2.6%,"14,680",1.7%,"19,336",4.6%

In [117]:
units_in_struc = house_char_data.iloc[[2,3,4,5,6,7,8]]
units_in_struc.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
"1, detached","1,436,137",71.2%,"1,205,520",85.1%,"230,617",38.4%,"170,997",62.3%,"149,053",82.1%,...,"147,580",83.4%,"20,001",30.1%,"890,441",69.1%,"703,191",80.9%,"187,250",44.6%
"1, attached","41,268",2.0%,"23,036",1.6%,"18,232",3.0%,"22,604",8.2%,"13,565",7.5%,...,"7,390",4.2%,"4,919",7.4%,"145,191",11.3%,"83,088",9.6%,"62,103",14.8%
2 apartments,"35,683",1.8%,"1,255",0.1%,"34,428",5.7%,"15,026",5.5%,"4,122",2.3%,...,873,0.5%,"3,457",5.2%,"34,016",2.6%,"14,680",1.7%,"19,336",4.6%
3 or 4 apartments,"57,324",2.8%,"2,986",0.2%,"54,338",9.1%,"20,093",7.3%,"2,783",1.5%,...,198,0.1%,"10,707",16.1%,"33,814",2.6%,"7,645",0.9%,"26,169",6.2%
5 to 9 apartments,"75,649",3.8%,"2,717",0.2%,"72,932",12.2%,"15,293",5.6%,"2,599",1.4%,...,384,0.2%,"7,442",11.2%,"59,961",4.7%,"16,203",1.9%,"43,758",10.4%

In [147]:
def data_cleanup(df):

    df_dict = df.to_dict()
    cleaned_dict = {state: {key.strip(): convert_value(value) for key, value in data.items()} for state, data in df_dict.items()}

    # Create nested dictionary for each state to combine data by state
    new_dict = {}
    for state_attr, attr_values in cleaned_dict.items():
        state, attribute = state_attr.split("_", 1)
        if state not in new_dict:
            new_dict[state] = {}
        if attribute not in new_dict[state]:
            new_dict[state][attribute] = {}
        for attr, value in attr_values.items():
            new_dict[state][attribute][attr] = value

    # Create category by total units in state, homeowner units and renter units
    total_unit_lst = [{k: v.get('total')} for k, v in new_dict.items() if v.get('total') is not None]
    owner_unit_lst = [{k: v.get('owner')} for k, v in new_dict.items() if v.get('owner') is not None]
    renter_unit_lst = [{k: v.get('renter')} for k, v in new_dict.items() if v.get('renter') is not None]

    # Function to convert list of dictionaries into a DataFrame
    def create_df(lst):
        df = pd.concat({k: pd.DataFrame.from_dict(v, 'index') for d in lst for k, v in d.items()}, axis=0)
        df.reset_index(inplace=True)
        df.columns = ['State', 'Housing Type', 'Count']
        df['Code'] = df['State'].map(state_abbreviations)
        return df

    # Convert the list of nested dictionaries into a DataFrame
    df_total = create_df(total_unit_lst)
    df_owner = create_df(owner_unit_lst)
    df_renter = create_df(renter_unit_lst)

    return df_total, df_owner, df_renter

In [148]:
df_total, df_owner, df_renter = data_cleanup(units_in_struc)

In [149]:
df_total.head()

     State       Housing Type    Count Code
0  Alabama        1, detached  1436137   AL
1  Alabama        1, attached    41268   AL
2  Alabama       2 apartments    35683   AL
3  Alabama  3 or 4 apartments    57324   AL
4  Alabama  5 to 9 apartments    75649   AL

In [150]:
df_owner.head()

     State       Housing Type    Count Code
0  Alabama        1, detached  1205520   AL
1  Alabama        1, attached    23036   AL
2  Alabama       2 apartments     1255   AL
3  Alabama  3 or 4 apartments     2986   AL
4  Alabama  5 to 9 apartments     2717   AL

In [130]:
year_struc = house_char_data.iloc[[10,11,12,13,14,15,16]]
year_struc.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
2020 or later,"45,295",2.2%,"38,381",2.7%,"6,914",1.2%,"2,604",0.9%,"1,822",1.0%,...,"2,822",1.6%,869,1.3%,904,0.1%,609,0.1%,295,0.1%
2010 to 2019,"241,552",12.0%,"171,350",12.1%,"70,202",11.7%,"29,643",10.8%,"18,717",10.3%,...,"17,123",9.7%,"7,252",10.9%,"48,084",3.7%,"31,575",3.6%,"16,509",3.9%
2000 to 2009,"322,821",16.0%,"249,161",17.6%,"73,660",12.3%,"44,414",16.2%,"32,530",17.9%,...,"27,518",15.6%,"9,678",14.6%,"180,653",14.0%,"135,080",15.5%,"45,573",10.9%
1980 to 1999,"587,134",29.1%,"422,475",29.8%,"164,659",27.4%,"96,638",35.2%,"66,956",36.9%,...,"40,947",23.2%,"18,035",27.1%,"406,272",31.5%,"293,055",33.7%,"113,217",27.0%
1960 to 1979,"515,788",25.6%,"341,032",24.1%,"174,756",29.1%,"82,183",29.9%,"50,826",28.0%,...,"48,307",27.3%,"15,887",23.9%,"475,389",36.9%,"311,542",35.8%,"163,847",39.0%

In [131]:
rooms = house_char_data.iloc[[18,19,20,21,22]]
rooms.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
1 room,"22,256",1.1%,"4,681",0.3%,"17,575",2.9%,"10,980",4.0%,"2,672",1.5%,...,939,0.5%,"2,354",3.5%,"19,305",1.5%,"5,490",0.6%,"13,815",3.3%
2 or 3 rooms,"135,880",6.7%,"32,531",2.3%,"103,349",17.2%,"44,248",16.1%,"15,808",8.7%,...,"6,101",3.4%,"15,425",23.2%,"138,185",10.7%,"56,309",6.5%,"81,876",19.5%
4 or 5 rooms,"652,409",32.4%,"357,333",25.2%,"295,076",49.2%,"105,243",38.3%,"67,880",37.4%,...,"45,143",25.5%,"33,069",49.8%,"808,988",62.7%,"549,749",63.2%,"259,239",61.8%
6 or 7 rooms,"708,144",35.1%,"568,715",40.2%,"139,429",23.2%,"68,647",25.0%,"55,125",30.4%,...,"56,898",32.2%,"10,411",15.7%,"268,223",20.8%,"208,947",24.0%,"59,276",14.1%
8 or more rooms,"497,759",24.7%,"453,073",32.0%,"44,686",7.4%,"45,456",16.6%,"40,101",22.1%,...,"67,782",38.3%,"5,199",7.8%,"54,610",4.2%,"49,140",5.7%,"5,470",1.3%

In [132]:
bedroom = house_char_data.iloc[[24,25,26,27]]
bedroom.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
No bedroom,"25,446",1.3%,"6,976",0.5%,"18,470",3.1%,"12,100",4.4%,"3,007",1.7%,...,"1,503",0.8%,"2,496",3.8%,"19,816",1.5%,"5,928",0.7%,"13,888",3.3%
1 bedroom,"119,508",5.9%,"19,517",1.4%,"99,991",16.7%,"28,810",10.5%,"11,510",6.3%,...,"3,560",2.0%,"14,044",21.1%,"61,854",4.8%,"18,135",2.1%,"43,719",10.4%
2 or 3 bedrooms,"1,383,847",68.6%,"950,850",67.1%,"432,997",72.2%,"173,245",63.1%,"114,575",63.1%,...,"105,974",59.9%,"44,039",66.3%,"998,500",77.4%,"676,336",77.8%,"322,164",76.8%
4 or more bedrooms,"487,647",24.2%,"438,990",31.0%,"48,657",8.1%,"60,419",22.0%,"52,494",28.9%,...,"65,826",37.2%,"5,879",8.8%,"209,141",16.2%,"169,236",19.5%,"39,905",9.5%

In [133]:
vehicles = house_char_data.iloc[[32,33,34,35]]
vehicles.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
No vehicle available,"105,803",5.2%,"38,015",2.7%,"67,788",11.3%,"24,877",9.1%,"11,554",6.4%,...,"3,213",1.8%,"6,813",10.3%,"166,871",12.9%,"83,863",9.6%,"83,008",19.8%
1 vehicle available,"636,767",31.6%,"338,136",23.9%,"298,631",49.8%,"84,808",30.9%,"39,654",21.8%,...,"34,868",19.7%,"29,075",43.7%,"517,633",40.1%,"315,782",36.3%,"201,851",48.1%
2 vehicles available,"743,303",36.9%,"575,831",40.7%,"167,472",27.9%,"99,642",36.3%,"74,592",41.1%,...,"63,076",35.7%,"21,711",32.7%,"401,292",31.1%,"301,060",34.6%,"100,232",23.9%
3 or more vehicles available,"530,575",26.3%,"464,351",32.8%,"66,224",11.0%,"65,247",23.8%,"55,786",30.7%,...,"75,706",42.8%,"8,859",13.3%,"203,515",15.8%,"168,930",19.4%,"34,585",8.2%

In [134]:
house_heat_fuel = house_char_data.iloc[[39,40,41,42,43,44,45]]
house_heat_fuel.tail()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Electricity,"1,366,095",67.7%,"904,767",63.9%,"461,328",76.9%,"41,891",15.3%,"15,650",8.6%,...,"28,291",16.0%,"27,151",40.9%,"124,002",9.6%,"100,837",11.6%,"23,165",5.5%
"Fuel oil, kerosene, etc.","2,610",0.1%,"1,073",0.1%,"1,537",0.3%,"77,028",28.1%,"53,243",29.3%,...,381,0.2%,228,0.3%,0,0.0%,0,0.0%,0,0.0%
Coal or coke,199,0.0%,0,0.0%,199,0.0%,278,0.1%,105,0.1%,...,469,0.3%,27,0.0%,103,0.0%,103,0.0%,0,0.0%
All other fuels,"16,376",0.8%,"13,440",0.9%,"2,936",0.5%,"16,756",6.1%,"12,905",7.1%,...,"10,553",6.0%,"2,756",4.1%,"13,631",1.1%,"13,161",1.5%,470,0.1%
No fuel used,"14,076",0.7%,"8,635",0.6%,"5,441",0.9%,"1,677",0.6%,669,0.4%,...,"1,098",0.6%,500,0.8%,"1,140,913",88.5%,"746,305",85.8%,"394,608",94.0%