In [91]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import re

%matplotlib inline
init_notebook_mode(connected=True)

# Physical House Occupancy Characteristics

In [92]:
state_abbreviations = {
'Alabama': 'AL',
'Alaska': 'AK',
'Arizona': 'AZ',
'Arkansas': 'AR',
'California': 'CA',
'Colorado': 'CO',
'Connecticut': 'CT',
'Delaware': 'DE',
'District of Columbia': 'DC',
'Florida': 'FL',
'Georgia': 'GA',
'Hawaii': 'HI',
'Idaho': 'ID',
'Illinois': 'IL',
'Indiana': 'IN',
'Iowa': 'IA',
'Kansas': 'KS',
'Kentucky': 'KY',
'Louisiana': 'LA',
'Maine': 'ME',
'Maryland': 'MD',
'Massachusetts': 'MA',
'Michigan': 'MI',
'Minnesota': 'MN',
'Mississippi': 'MS',
'Missouri': 'MO',
'Montana': 'MT',
'Nebraska': 'NE',
'Nevada': 'NV',
'New Hampshire': 'NH',
'New Jersey': 'NJ',
'New Mexico': 'NM',
'New York': 'NY',
'North Carolina': 'NC',
'North Dakota': 'ND',
'Ohio': 'OH',
'Oklahoma': 'OK',
'Oregon': 'OR',
'Pennsylvania': 'PA',
'Rhode Island': 'RI',
'South Carolina': 'SC',
'South Dakota': 'SD',
'Tennessee': 'TN',
'Texas': 'TX',
'Utah': 'UT',
'Vermont': 'VT',
'Virginia': 'VA',
'Washington': 'WA',
'West Virginia': 'WV',
'Wisconsin': 'WI',
'Wyoming': 'WY',
'Puerto Rico': 'PR'
}

In [93]:
def convert_value(value):
    if '%' in value:
        return float(value.replace('%', '')) / 100  # Convert percentage to a decimal
    else:
        return int(value.replace(',', ''))  # Remove commas and convert to integer

In [94]:
def clean_house_char_headers(val):
    if isinstance(val, str):
        if 'Occupied' in val:
            val = val.split("!!")[0]
            val = val + "_total"
        elif 'Percent occupied housing units' in val:
            val = val.split("!!")[0]
            val = val + "_total_percent"
        elif 'Owner-occupied housing'in val:
            val = val.split("!!")[0]
            val = val + "_owner"
        elif 'Percent owner-occupied housing units' in val:
            val = val.split("!!")[0]
            val = val + "_own_percent"
        elif 'Renter-occupied housing units' in val:
            val = val.split("!!")[0]
            val = val + "_renter"
        elif 'Percent renter-occupied' in val:
            val = val.split("!!")[0]
            val = val + "_rent_percent"
        else:
            val = val.split("!!")[0]
        return val
    else:
        return val

In [95]:
house_char_data = pd.read_csv('./Data/Physical_Housing_Occup.csv', index_col=0)
house_char_data = house_char_data.rename(columns=clean_house_char_headers)
house_char_data.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Occupied housing units,"2,016,448","2,016,448","1,416,333","1,416,333","600,115","600,115","274,574","274,574","181,586","181,586",...,"176,863","176,863","66,458","66,458","1,289,311","1,289,311","869,635","869,635","419,676","419,676"
UNITS IN STRUCTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1, detached","1,436,137",71.2%,"1,205,520",85.1%,"230,617",38.4%,"170,997",62.3%,"149,053",82.1%,...,"147,580",83.4%,"20,001",30.1%,"890,441",69.1%,"703,191",80.9%,"187,250",44.6%
"1, attached","41,268",2.0%,"23,036",1.6%,"18,232",3.0%,"22,604",8.2%,"13,565",7.5%,...,"7,390",4.2%,"4,919",7.4%,"145,191",11.3%,"83,088",9.6%,"62,103",14.8%
2 apartments,"35,683",1.8%,"1,255",0.1%,"34,428",5.7%,"15,026",5.5%,"4,122",2.3%,...,873,0.5%,"3,457",5.2%,"34,016",2.6%,"14,680",1.7%,"19,336",4.6%

In [96]:
units_in_struc = house_char_data.iloc[[2,3,4,5,6,7,8]]
units_in_struc.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
"1, detached","1,436,137",71.2%,"1,205,520",85.1%,"230,617",38.4%,"170,997",62.3%,"149,053",82.1%,...,"147,580",83.4%,"20,001",30.1%,"890,441",69.1%,"703,191",80.9%,"187,250",44.6%
"1, attached","41,268",2.0%,"23,036",1.6%,"18,232",3.0%,"22,604",8.2%,"13,565",7.5%,...,"7,390",4.2%,"4,919",7.4%,"145,191",11.3%,"83,088",9.6%,"62,103",14.8%
2 apartments,"35,683",1.8%,"1,255",0.1%,"34,428",5.7%,"15,026",5.5%,"4,122",2.3%,...,873,0.5%,"3,457",5.2%,"34,016",2.6%,"14,680",1.7%,"19,336",4.6%
3 or 4 apartments,"57,324",2.8%,"2,986",0.2%,"54,338",9.1%,"20,093",7.3%,"2,783",1.5%,...,198,0.1%,"10,707",16.1%,"33,814",2.6%,"7,645",0.9%,"26,169",6.2%
5 to 9 apartments,"75,649",3.8%,"2,717",0.2%,"72,932",12.2%,"15,293",5.6%,"2,599",1.4%,...,384,0.2%,"7,442",11.2%,"59,961",4.7%,"16,203",1.9%,"43,758",10.4%

In [97]:
def data_cleanup(df):

    df_dict = df.to_dict()
    cleaned_dict = {state: {key.strip(): convert_value(value) for key, value in data.items()} for state, data in df_dict.items()}

    # Create nested dictionary for each state to combine data by state
    new_dict = {}
    for state_attr, attr_values in cleaned_dict.items():
        state, attribute = state_attr.split("_", 1)
        if state not in new_dict:
            new_dict[state] = {}
        if attribute not in new_dict[state]:
            new_dict[state][attribute] = {}
        for attr, value in attr_values.items():
            new_dict[state][attribute][attr] = value

    # Create category by total units in state, homeowner units and renter units
    total_unit_lst = [{k: v.get('total')} for k, v in new_dict.items() if v.get('total') is not None]
    owner_unit_lst = [{k: v.get('owner')} for k, v in new_dict.items() if v.get('owner') is not None]
    renter_unit_lst = [{k: v.get('renter')} for k, v in new_dict.items() if v.get('renter') is not None]

    # Function to convert list of dictionaries into a DataFrame
    def create_df(lst):
        df = pd.concat({k: pd.DataFrame.from_dict(v, 'index') for d in lst for k, v in d.items()}, axis=0)
        df.reset_index(inplace=True)
        df.columns = ['State', 'Value', 'Count']
        df['Code'] = df['State'].map(state_abbreviations)
        return df

    # Convert the list of nested dictionaries into a DataFrame
    df_total = create_df(total_unit_lst)
    df_owner = create_df(owner_unit_lst)
    df_renter = create_df(renter_unit_lst)

    return df_total, df_owner, df_renter

In [98]:
df_total, df_owner, df_renter = data_cleanup(units_in_struc)

In [99]:
df_total.head()

     State              Value    Count Code
0  Alabama        1, detached  1436137   AL
1  Alabama        1, attached    41268   AL
2  Alabama       2 apartments    35683   AL
3  Alabama  3 or 4 apartments    57324   AL
4  Alabama  5 to 9 apartments    75649   AL

In [100]:
df_owner.head()

     State              Value    Count Code
0  Alabama        1, detached  1205520   AL
1  Alabama        1, attached    23036   AL
2  Alabama       2 apartments     1255   AL
3  Alabama  3 or 4 apartments     2986   AL
4  Alabama  5 to 9 apartments     2717   AL

In [101]:
df_renter.head()

     State              Value   Count Code
0  Alabama        1, detached  230617   AL
1  Alabama        1, attached   18232   AL
2  Alabama       2 apartments   34428   AL
3  Alabama  3 or 4 apartments   54338   AL
4  Alabama  5 to 9 apartments   72932   AL

In [102]:
year_struc = house_char_data.iloc[[10,11,12,13,14,15,16]]
year_struc.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
2020 or later,"45,295",2.2%,"38,381",2.7%,"6,914",1.2%,"2,604",0.9%,"1,822",1.0%,...,"2,822",1.6%,869,1.3%,904,0.1%,609,0.1%,295,0.1%
2010 to 2019,"241,552",12.0%,"171,350",12.1%,"70,202",11.7%,"29,643",10.8%,"18,717",10.3%,...,"17,123",9.7%,"7,252",10.9%,"48,084",3.7%,"31,575",3.6%,"16,509",3.9%
2000 to 2009,"322,821",16.0%,"249,161",17.6%,"73,660",12.3%,"44,414",16.2%,"32,530",17.9%,...,"27,518",15.6%,"9,678",14.6%,"180,653",14.0%,"135,080",15.5%,"45,573",10.9%
1980 to 1999,"587,134",29.1%,"422,475",29.8%,"164,659",27.4%,"96,638",35.2%,"66,956",36.9%,...,"40,947",23.2%,"18,035",27.1%,"406,272",31.5%,"293,055",33.7%,"113,217",27.0%
1960 to 1979,"515,788",25.6%,"341,032",24.1%,"174,756",29.1%,"82,183",29.9%,"50,826",28.0%,...,"48,307",27.3%,"15,887",23.9%,"475,389",36.9%,"311,542",35.8%,"163,847",39.0%

In [103]:
df_total_yr, df_owner_yr, df_renter_yr = data_cleanup(year_struc)

In [104]:
df_total_yr.head()

     State          Value   Count Code
0  Alabama  2020 or later   45295   AL
1  Alabama   2010 to 2019  241552   AL
2  Alabama   2000 to 2009  322821   AL
3  Alabama   1980 to 1999  587134   AL
4  Alabama   1960 to 1979  515788   AL

In [105]:
df_owner_yr.head()

     State          Value   Count Code
0  Alabama  2020 or later   38381   AL
1  Alabama   2010 to 2019  171350   AL
2  Alabama   2000 to 2009  249161   AL
3  Alabama   1980 to 1999  422475   AL
4  Alabama   1960 to 1979  341032   AL

In [106]:
df_renter_yr.head()

     State          Value   Count Code
0  Alabama  2020 or later    6914   AL
1  Alabama   2010 to 2019   70202   AL
2  Alabama   2000 to 2009   73660   AL
3  Alabama   1980 to 1999  164659   AL
4  Alabama   1960 to 1979  174756   AL

In [107]:
rooms = house_char_data.iloc[[18,19,20,21,22]]
rooms.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
1 room,"22,256",1.1%,"4,681",0.3%,"17,575",2.9%,"10,980",4.0%,"2,672",1.5%,...,939,0.5%,"2,354",3.5%,"19,305",1.5%,"5,490",0.6%,"13,815",3.3%
2 or 3 rooms,"135,880",6.7%,"32,531",2.3%,"103,349",17.2%,"44,248",16.1%,"15,808",8.7%,...,"6,101",3.4%,"15,425",23.2%,"138,185",10.7%,"56,309",6.5%,"81,876",19.5%
4 or 5 rooms,"652,409",32.4%,"357,333",25.2%,"295,076",49.2%,"105,243",38.3%,"67,880",37.4%,...,"45,143",25.5%,"33,069",49.8%,"808,988",62.7%,"549,749",63.2%,"259,239",61.8%
6 or 7 rooms,"708,144",35.1%,"568,715",40.2%,"139,429",23.2%,"68,647",25.0%,"55,125",30.4%,...,"56,898",32.2%,"10,411",15.7%,"268,223",20.8%,"208,947",24.0%,"59,276",14.1%
8 or more rooms,"497,759",24.7%,"453,073",32.0%,"44,686",7.4%,"45,456",16.6%,"40,101",22.1%,...,"67,782",38.3%,"5,199",7.8%,"54,610",4.2%,"49,140",5.7%,"5,470",1.3%

In [108]:
df_room_total, df_room_owner, df_room_renter = data_cleanup(rooms)

In [109]:
df_room_total.head()

     State            Value   Count Code
0  Alabama           1 room   22256   AL
1  Alabama     2 or 3 rooms  135880   AL
2  Alabama     4 or 5 rooms  652409   AL
3  Alabama     6 or 7 rooms  708144   AL
4  Alabama  8 or more rooms  497759   AL

In [110]:
df_room_owner.head()

     State            Value   Count Code
0  Alabama           1 room    4681   AL
1  Alabama     2 or 3 rooms   32531   AL
2  Alabama     4 or 5 rooms  357333   AL
3  Alabama     6 or 7 rooms  568715   AL
4  Alabama  8 or more rooms  453073   AL

In [111]:
df_room_renter.head()

     State            Value   Count Code
0  Alabama           1 room   17575   AL
1  Alabama     2 or 3 rooms  103349   AL
2  Alabama     4 or 5 rooms  295076   AL
3  Alabama     6 or 7 rooms  139429   AL
4  Alabama  8 or more rooms   44686   AL

In [112]:
bedroom = house_char_data.iloc[[24,25,26,27]]
bedroom.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
No bedroom,"25,446",1.3%,"6,976",0.5%,"18,470",3.1%,"12,100",4.4%,"3,007",1.7%,...,"1,503",0.8%,"2,496",3.8%,"19,816",1.5%,"5,928",0.7%,"13,888",3.3%
1 bedroom,"119,508",5.9%,"19,517",1.4%,"99,991",16.7%,"28,810",10.5%,"11,510",6.3%,...,"3,560",2.0%,"14,044",21.1%,"61,854",4.8%,"18,135",2.1%,"43,719",10.4%
2 or 3 bedrooms,"1,383,847",68.6%,"950,850",67.1%,"432,997",72.2%,"173,245",63.1%,"114,575",63.1%,...,"105,974",59.9%,"44,039",66.3%,"998,500",77.4%,"676,336",77.8%,"322,164",76.8%
4 or more bedrooms,"487,647",24.2%,"438,990",31.0%,"48,657",8.1%,"60,419",22.0%,"52,494",28.9%,...,"65,826",37.2%,"5,879",8.8%,"209,141",16.2%,"169,236",19.5%,"39,905",9.5%

In [113]:
df_bed_total, df_bed_owner, df_bed_renter = data_cleanup(bedroom)

In [114]:
df_bed_total.head()

     State               Value    Count Code
0  Alabama          No bedroom    25446   AL
1  Alabama           1 bedroom   119508   AL
2  Alabama     2 or 3 bedrooms  1383847   AL
3  Alabama  4 or more bedrooms   487647   AL
4   Alaska          No bedroom    12100   AK

In [115]:
df_bed_owner.head()

     State               Value   Count Code
0  Alabama          No bedroom    6976   AL
1  Alabama           1 bedroom   19517   AL
2  Alabama     2 or 3 bedrooms  950850   AL
3  Alabama  4 or more bedrooms  438990   AL
4   Alaska          No bedroom    3007   AK

In [116]:
df_bed_renter.head()

     State               Value   Count Code
0  Alabama          No bedroom   18470   AL
1  Alabama           1 bedroom   99991   AL
2  Alabama     2 or 3 bedrooms  432997   AL
3  Alabama  4 or more bedrooms   48657   AL
4   Alaska          No bedroom    9093   AK

In [117]:
vehicles = house_char_data.iloc[[32,33,34,35]]
vehicles.head()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
No vehicle available,"105,803",5.2%,"38,015",2.7%,"67,788",11.3%,"24,877",9.1%,"11,554",6.4%,...,"3,213",1.8%,"6,813",10.3%,"166,871",12.9%,"83,863",9.6%,"83,008",19.8%
1 vehicle available,"636,767",31.6%,"338,136",23.9%,"298,631",49.8%,"84,808",30.9%,"39,654",21.8%,...,"34,868",19.7%,"29,075",43.7%,"517,633",40.1%,"315,782",36.3%,"201,851",48.1%
2 vehicles available,"743,303",36.9%,"575,831",40.7%,"167,472",27.9%,"99,642",36.3%,"74,592",41.1%,...,"63,076",35.7%,"21,711",32.7%,"401,292",31.1%,"301,060",34.6%,"100,232",23.9%
3 or more vehicles available,"530,575",26.3%,"464,351",32.8%,"66,224",11.0%,"65,247",23.8%,"55,786",30.7%,...,"75,706",42.8%,"8,859",13.3%,"203,515",15.8%,"168,930",19.4%,"34,585",8.2%

In [118]:
df_car_total, df_car_owner, df_car_renter = data_cleanup(vehicles)

In [119]:
df_car_total.head()

     State                         Value   Count Code
0  Alabama          No vehicle available  105803   AL
1  Alabama           1 vehicle available  636767   AL
2  Alabama          2 vehicles available  743303   AL
3  Alabama  3 or more vehicles available  530575   AL
4   Alaska          No vehicle available   24877   AK

In [120]:
df_car_owner.head()

     State                         Value   Count Code
0  Alabama          No vehicle available   38015   AL
1  Alabama           1 vehicle available  338136   AL
2  Alabama          2 vehicles available  575831   AL
3  Alabama  3 or more vehicles available  464351   AL
4   Alaska          No vehicle available   11554   AK

In [121]:
df_car_renter.head()

     State                         Value   Count Code
0  Alabama          No vehicle available   67788   AL
1  Alabama           1 vehicle available  298631   AL
2  Alabama          2 vehicles available  167472   AL
3  Alabama  3 or more vehicles available   66224   AL
4   Alaska          No vehicle available   13323   AK

In [122]:
house_heat_fuel = house_char_data.iloc[[39,40,41,42,43,44,45]]
house_heat_fuel.tail()

,Alabama_total,Alabama_total_percent,Alabama_owner,Alabama_own_percent,Alabama_renter,Alabama_rent_percent,Alaska_total,Alaska_total_percent,Alaska_owner,Alaska_own_percent,...,Wyoming_owner,Wyoming_own_percent,Wyoming_renter,Wyoming_rent_percent,Puerto Rico_total,Puerto Rico_total_percent,Puerto Rico_owner,Puerto Rico_own_percent,Puerto Rico_renter,Puerto Rico_rent_percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Electricity,"1,366,095",67.7%,"904,767",63.9%,"461,328",76.9%,"41,891",15.3%,"15,650",8.6%,...,"28,291",16.0%,"27,151",40.9%,"124,002",9.6%,"100,837",11.6%,"23,165",5.5%
"Fuel oil, kerosene, etc.","2,610",0.1%,"1,073",0.1%,"1,537",0.3%,"77,028",28.1%,"53,243",29.3%,...,381,0.2%,228,0.3%,0,0.0%,0,0.0%,0,0.0%
Coal or coke,199,0.0%,0,0.0%,199,0.0%,278,0.1%,105,0.1%,...,469,0.3%,27,0.0%,103,0.0%,103,0.0%,0,0.0%
All other fuels,"16,376",0.8%,"13,440",0.9%,"2,936",0.5%,"16,756",6.1%,"12,905",7.1%,...,"10,553",6.0%,"2,756",4.1%,"13,631",1.1%,"13,161",1.5%,470,0.1%
No fuel used,"14,076",0.7%,"8,635",0.6%,"5,441",0.9%,"1,677",0.6%,669,0.4%,...,"1,098",0.6%,500,0.8%,"1,140,913",88.5%,"746,305",85.8%,"394,608",94.0%

In [123]:
df_heat_total, df_heat_owner, df_heat_renter = data_cleanup(house_heat_fuel)

In [124]:
df_heat_total.head()

     State                     Value    Count Code
0  Alabama               Utility gas   510312   AL
1  Alabama  Bottled, tank, or LP gas   106780   AL
2  Alabama               Electricity  1366095   AL
3  Alabama  Fuel oil, kerosene, etc.     2610   AL
4  Alabama              Coal or coke      199   AL

In [125]:
df_heat_owner.head()

     State                     Value   Count Code
0  Alabama               Utility gas  401896   AL
1  Alabama  Bottled, tank, or LP gas   86522   AL
2  Alabama               Electricity  904767   AL
3  Alabama  Fuel oil, kerosene, etc.    1073   AL
4  Alabama              Coal or coke       0   AL

In [126]:
df_heat_renter.head()

     State                     Value   Count Code
0  Alabama               Utility gas  108416   AL
1  Alabama  Bottled, tank, or LP gas   20258   AL
2  Alabama               Electricity  461328   AL
3  Alabama  Fuel oil, kerosene, etc.    1537   AL
4  Alabama              Coal or coke     199   AL

In [127]:
df_total.head()

     State              Value    Count Code
0  Alabama        1, detached  1436137   AL
1  Alabama        1, attached    41268   AL
2  Alabama       2 apartments    35683   AL
3  Alabama  3 or 4 apartments    57324   AL
4  Alabama  5 to 9 apartments    75649   AL

In [128]:
df_total.groupby('State').describe()

                     Count                                                  \
                     count          mean           std       min       25%
State
Alabama                7.0  2.880640e+05  5.111288e+05   35683.0   49296.0
Alaska                 7.0  3.922486e+04  5.827152e+04    9701.0   15159.5
Arizona                7.0  4.071967e+05  6.618316e+05   39774.0   90819.0
Arkansas               7.0  1.737439e+05  3.004731e+05   24877.0   40768.5
California             7.0  1.935798e+06  2.698089e+06  307658.0  600955.5
Colorado               7.0  3.406549e+05  5.237514e+05   35410.0   79470.5
Connecticut            7.0  2.048050e+05  2.910157e+05    9950.0   78587.5
Delaware               7.0  5.747629e+04  8.719467e+04    3957.0   11028.0
District of Columbia   7.0  4.671000e+04  5.512194e+04       0.0   17098.0
Florida                7.0  1.260913e+06  1.734331e+06  181445.0  367773.0
Georgia                7.0  5.846381e+05  9.723906e+05   85003.0  146362.5
Hawaii                 7.0  7.068957e+04  9.903897e+04    2274.0   14294.0
Idaho                  7.0  1.024501e+05  1.909335e+05   12985.0   21036.0
Illinois               7.0  7.223371e+05  1.022805e+06  103408.0  269635.5
Indiana                7.0  3.894984e+05  7.196689e+05   59154.0   99716.5
Iowa                   7.0  1.901421e+05  3.499142e+05   23963.0   40331.0
Kansas                 7.0  1.678991e+05  3.049266e+05   27503.0   41615.5
Kentucky               7.0  2.612400e+05  4.383432e+05   46645.0   65308.0
Louisiana              7.0  2.595574e+05  4.318957e+05   51120.0   58418.0
Maine                  7.0  8.647686e+04  1.427077e+05   17797.0   28326.0
Maryland               7.0  3.394263e+05  4.417591e+05   28305.0   41663.0
Massachusetts          7.0  3.996823e+05  4.686231e+05   23849.0  163286.0
Michigan               7.0  5.842563e+05  1.051359e+06   81392.0  139209.5
Minnesota              7.0  3.317414e+05  5.488821e+05   47686.0   51089.5
Mississippi            7.0  1.640486e+05  2.910598e+05   15838.0   29960.5
Missouri               7.0  3.602617e+05  6.364434e+05   75831.0   92522.0
Montana                7.0  6.629600e+04  1.117804e+05   12086.0   16916.0
Nebraska               7.0  1.147367e+05  2.069679e+05   13339.0   18121.5
Nevada                 7.0  1.711937e+05  2.595391e+05   16326.0   63776.0
New Hampshire          7.0  7.960286e+04  1.216225e+05   26404.0   27795.5
New Jersey             7.0  5.024254e+05  6.302790e+05   34557.0  185650.5
New Mexico             7.0  1.211740e+05  1.995689e+05   12845.0   25478.0
New York               7.0  1.110615e+06  1.168934e+06  153635.0  422887.5
North Carolina         7.0  6.141809e+05  1.003759e+06   81079.0  135049.5
North Dakota           7.0  4.735443e+04  6.911393e+04    3736.0   10476.0
Ohio                   7.0  6.968866e+05  1.207274e+06  153620.0  178916.0
Oklahoma               7.0  2.247400e+05  4.110028e+05   30328.0   39924.0
Oregon                 7.0  2.466200e+05  3.764388e+05   41960.0   76414.0
Pennsylvania           7.0  7.562950e+05  1.045779e+06  162332.0  189481.5
Puerto Rico            7.0  1.841873e+05  3.155646e+05    3046.0   33915.0
Rhode Island           7.0  6.381257e+04  8.568429e+04    4228.0   19923.5
South Carolina         7.0  3.051543e+05  5.003136e+05   34357.0   67078.0
South Dakota           7.0  5.261429e+04  8.951889e+04    4840.0   12682.5
Tennessee              7.0  4.066691e+05  7.000888e+05   66424.0   99919.0
Texas                  7.0  1.583958e+06  2.562248e+06  186352.0  352453.0
Utah                   7.0  1.613800e+05  2.713693e+05   26642.0   32733.5
Vermont                7.0  3.958429e+04  6.479734e+04   11016.0   13755.0
Virginia               7.0  4.829439e+05  7.244987e+05   49801.0  112242.0
Washington             7.0  4.399933e+05  6.757624e+05   61721.0  117930.5
West Virginia          7.0  1.051916e+05  1.895156e+05   12928.0   19206.0
Wisconsin              7.0  3.558744e+05  5.771569e+05   65504.0   97293.5
Wyoming                7.0  3.476014e+04  5.900138e+04    4330.0    9365.5


                           50%        75%        max
State
Alabama                75649.0   185193.5  1436137.0
Alaska                 20093.0    21732.0   170997.0
Arizona               148000.0   296435.5  1888094.0
Arkansas               43527.0   107998.5   850269.0
California            745229.0  1728072.5  7839643.0
Colorado               98628.0   298736.0  1494133.0
Connecticut            93688.0   160770.0   851282.0
Delaware               23540.0    51591.5   249598.0
District of Columbia   25437.0    53098.5   161140.0
Florida               621163.0  1114152.5  5059935.0
Georgia               191175.0   375545.0  2772474.0
Hawaii                 29166.0    76772.5   281254.0
Idaho                  33702.0    47029.0   534334.0
Illinois              322750.0   548322.0  2994287.0
Indiana               109326.0   170321.0  2017934.0
Iowa                   49523.0    98724.5   979398.0
Kansas                 42945.0    82237.5   857140.0
Kentucky               83489.0   159447.5  1249035.0
Louisiana              72264.0   173664.0  1229354.0
Maine                  33986.0    43811.5   409280.0
Maryland              115215.0   453001.0  1243136.0
Massachusetts         262857.0   384536.5  1415425.0
Michigan              198552.0   286016.5  2959398.0
Minnesota              56952.0   286908.5  1541556.0
Mississippi            36974.0   110755.5   814096.0
Missouri              112655.0   174560.0  1799182.0
Montana                23570.0    38004.5   318575.0
Nebraska               34231.0    70350.5   578643.0
Nevada                 68125.0   117520.0   751313.0
New Hampshire          28160.0    46598.5   353868.0
New Jersey            291721.0   471636.5  1876126.0
New Mexico             32286.0    93300.5   565530.0
New York              524162.0  1524877.0  3200982.0
North Carolina        203737.0   439121.5  2866108.0
North Dakota           20726.0    44690.0   196687.0
Ohio                  211639.0   366227.0  3422661.0
Oklahoma               58629.0   126043.5  1152288.0
Oregon                 84330.0   179335.5  1088551.0
Pennsylvania          215005.0   755028.0  3027709.0
Puerto Rico            59961.0   134016.5   890441.0
Rhode Island           43129.0    53126.5   253231.0
South Carolina         86166.0   230011.5  1421378.0
South Dakota           16142.0    34203.5   253546.0
Tennessee             116688.0   238729.5  1986275.0
Texas                 480571.0  1222007.0  7271865.0
Utah                   42790.0   112255.5   770250.0
Vermont                16254.0    17963.0   186384.0
Virginia              149890.0   435550.5  2085331.0
Washington            141570.0   355789.0  1929223.0
West Virginia          20263.0    67462.0   529814.0
Wisconsin             127889.0   225479.5  1652182.0
Wyoming                12309.0    20185.0   167581.0

In [129]:
total_occupied_housing = df_total.groupby('Code').sum()

In [130]:
total_occupied_housing = total_occupied_housing.reset_index()

In [131]:
total_occupied_housing.head()

  Code     Count
0   AK    274574
1   AL   2016448
2   AR   1216207
3   AZ   2850377
4   CA  13550586

In [132]:
def make_map(df, data_year: str):

    data = dict(type = 'choropleth',
                colorscale = 'Portland',
                locations = df['Code'],
                locationmode = 'USA-states',
                z=df['Count'],
                colorbar = {'title':'Occupied housing units'})

    layout = dict(
        title = {'text': f'{data_year} US Occupied housing units', 'x':0.5, 'xanchor': 'center'},
        geo = dict(scope = 'usa'),
        autosize = True,
        width = 800,
        height = 600,
    )

    choromap = go.Figure(data = [data],layout = layout)

    iplot(choromap)

In [133]:
make_map(total_occupied_housing, '2022')

## Segment states by predominant housing type - cluster analysis on housing structure types by state

In [134]:
df_total.head()

     State              Value    Count Code
0  Alabama        1, detached  1436137   AL
1  Alabama        1, attached    41268   AL
2  Alabama       2 apartments    35683   AL
3  Alabama  3 or 4 apartments    57324   AL
4  Alabama  5 to 9 apartments    75649   AL

In [135]:
#Get dominant house type and return state and headers
df_max = df_total.loc[df_total.groupby('State')['Count'].idxmax()]

print(df_max)

                    State                  Value    Count Code
0                 Alabama            1, detached  1436137   AL
7                  Alaska            1, detached   170997   AK
14                Arizona            1, detached  1888094   AZ
21               Arkansas            1, detached   850269   AR
28             California            1, detached  7839643   CA
35               Colorado            1, detached  1494133   CO
42            Connecticut            1, detached   851282   CT
49               Delaware            1, detached   249598   DE
61   District of Columbia  10 or more apartments   161140   DC
63                Florida            1, detached  5059935   FL
70                Georgia            1, detached  2772474   GA
77                 Hawaii            1, detached   281254   HI
84                  Idaho            1, detached   534334   ID
91               Illinois            1, detached  2994287   IL
98                Indiana            1, detached  2017934   IN
105                  Iowa            1, detached   979398   IA
112                Kansas            1, detached   857140   KS
119              Kentucky            1, detached  1249035   KY
126             Louisiana            1, detached  1229354   LA
133                 Maine            1, detached   409280   ME
140              Maryland            1, detached  1243136   MD
147         Massachusetts            1, detached  1415425   MA
154              Michigan            1, detached  2959398   MI
161             Minnesota            1, detached  1541556   MN
168           Mississippi            1, detached   814096   MS
175              Missouri            1, detached  1799182   MO
182               Montana            1, detached   318575   MT
189              Nebraska            1, detached   578643   NE
196                Nevada            1, detached   751313   NV
203         New Hampshire            1, detached   353868   NH
210            New Jersey            1, detached  1876126   NJ
217            New Mexico            1, detached   565530   NM
224              New York            1, detached  3200982   NY
231        North Carolina            1, detached  2866108   NC
238          North Dakota            1, detached   196687   ND
245                  Ohio            1, detached  3422661   OH
252              Oklahoma            1, detached  1152288   OK
259                Oregon            1, detached  1088551   OR
266          Pennsylvania            1, detached  3027709   PA
357           Puerto Rico            1, detached   890441   PR
273          Rhode Island            1, detached   253231   RI
280        South Carolina            1, detached  1421378   SC
287          South Dakota            1, detached   253546   SD
294             Tennessee            1, detached  1986275   TN
301                 Texas            1, detached  7271865   TX
308                  Utah            1, detached   770250   UT
315               Vermont            1, detached   186384   VT
322              Virginia            1, detached  2085331   VA
329            Washington            1, detached  1929223   WA
336         West Virginia            1, detached   529814   WV
343             Wisconsin            1, detached  1652182   WI
350               Wyoming            1, detached   167581   WY

In [136]:
fig = px.scatter(df_max, y="Value", x="Count", color="State")
#fig.update_traces(marker_size=10)
fig.show()

## Fertility rates by state

In [207]:
def clean_headers(val):
    if isinstance(val, str):
        if 'Total' in val:
            val = val.split("!!")[0]
            val = val + "_total"
        elif 'Women with births in the past 12 months!!Number!!Estimate' in val:
            val = val.split("!!")[0]
            val = val + "_births"
        elif 'Women with births in the past 12 months!!Rate per 1,000 women!!Estimate' in val:
            val = val.split("!!")[0]
            val = val + "_thou"
        else:
            val = val.split("!!")[0]
        return val
    else:
        return val

In [208]:
fert_data = pd.read_excel('./Data/fertility_data.xlsx', index_col=0)
fert_data = fert_data.rename(columns=clean_headers)

fert_data.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Women 15 to 50 years,1184720.0,61506.0,52.0,167711.0,10125.0,60.0,1680785.0,86548.0,51.0,691139.0,...,52.0,1301817.0,66580.0,51.0,126741.0,7469.0,59.0,743480.0,21708.0,29.0
15 to 19 years,171783.0,651.0,4.0,22013.0,124.0,6.0,236982.0,3252.0,14.0,96432.0,...,15.0,185708.0,819.0,4.0,17961.0,220.0,12.0,93630.0,788.0,8.0
20 to 34 years,500263.0,48565.0,97.0,73709.0,7354.0,100.0,741982.0,57861.0,78.0,293111.0,...,94.0,555914.0,49876.0,90.0,51110.0,5354.0,105.0,309106.0,17447.0,56.0
35 to 50 years,512674.0,12290.0,24.0,71989.0,2647.0,37.0,701821.0,25435.0,36.0,301596.0,...,24.0,560195.0,15885.0,28.0,57670.0,1895.0,33.0,340744.0,3473.0,10.0

In [233]:
def fert_data_cleanup(df, year:str):

    df_dict = df.to_dict()
    cleaned_dict = {state: {key.strip(): value for key, value in data.items()} for state, data in df_dict.items()}

    # Create nested dictionary for each state to combine data by state
    new_dict = {}
    for state_attr, attr_values in cleaned_dict.items():
        state, attribute = state_attr.split("_", 1)
        if state not in new_dict:
            new_dict[state] = {}
        if attribute not in new_dict[state]:
            new_dict[state][attribute] = {}
        for attr, value in attr_values.items():
            new_dict[state][attribute][attr] = value

    # Create category by total units in state, homeowner units and renter units
    total_lst = [{k: v.get('total')} for k, v in new_dict.items() if v.get('total') is not None]
    birth_lst = [{k: v.get('births')} for k, v in new_dict.items() if v.get('births') is not None]
    thou_lst = [{k: v.get('thou')} for k, v in new_dict.items() if v.get('thou') is not None]

    # Function to convert list of dictionaries into a DataFrame
    def create_df(lst):
        count_column = f'Count_{year}'
        df = pd.concat({k: pd.DataFrame.from_dict(v, 'index') for d in lst for k, v in d.items()}, axis=0)
        df.reset_index(inplace=True)
        df.columns = ['State', 'Value', count_column]
        df['Code'] = df['State'].map(state_abbreviations)
        return df

    # Convert the list of nested dictionaries into a DataFrame
    df_total = create_df(total_lst)
    df_birth = create_df(birth_lst)
    df_thou = create_df(thou_lst)

    return df_total, df_birth, df_thou

In [234]:
fem_age_22 = fert_data.iloc[[2,3,4]]
fem_age_22.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,171783.0,651.0,4.0,22013.0,124.0,6.0,236982.0,3252.0,14.0,96432.0,...,15.0,185708.0,819.0,4.0,17961.0,220.0,12.0,93630.0,788.0,8.0
20 to 34 years,500263.0,48565.0,97.0,73709.0,7354.0,100.0,741982.0,57861.0,78.0,293111.0,...,94.0,555914.0,49876.0,90.0,51110.0,5354.0,105.0,309106.0,17447.0,56.0
35 to 50 years,512674.0,12290.0,24.0,71989.0,2647.0,37.0,701821.0,25435.0,36.0,301596.0,...,24.0,560195.0,15885.0,28.0,57670.0,1895.0,33.0,340744.0,3473.0,10.0

In [235]:
fem_age_21 = fert_data.iloc[[13,14, 15]]
fem_age_21.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,170097.0,1408.0,8.0,22382.0,132.0,6.0,235694.0,1363.0,6.0,99501.0,...,10.0,189422.0,1130.0,6.0,19793.0,83.0,4.0,98793.0,1172.0,12.0
20 to 34 years,483785.0,42509.0,88.0,72194.0,6892.0,95.0,720415.0,60973.0,85.0,288081.0,...,90.0,548767.0,46155.0,84.0,49880.0,6114.0,123.0,310354.0,13953.0,45.0
35 to 50 years,517551.0,11676.0,23.0,73735.0,1653.0,22.0,703539.0,21263.0,30.0,302659.0,...,21.0,569388.0,16536.0,29.0,58531.0,988.0,17.0,348179.0,4091.0,12.0

In [236]:
fem_age_19 = fert_data.iloc[[24, 25, 26]]
fem_age_19.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,161722.0,2369.0,15.0,20665.0,109.0,5.0,235308.0,3601.0,15.0,100455.0,...,12.0,184797.0,1370.0,7.0,18591.0,586.0,32.0,102312.0,1090.0,11.0
20 to 34 years,480248.0,47019.0,98.0,75888.0,7221.0,95.0,718095.0,67710.0,94.0,292150.0,...,111.0,547989.0,52695.0,96.0,53299.0,4537.0,85.0,306411.0,14323.0,47.0
35 to 50 years,500550.0,9154.0,18.0,70759.0,3172.0,45.0,708780.0,17708.0,25.0,301998.0,...,20.0,566065.0,14610.0,26.0,54238.0,1782.0,33.0,334991.0,5573.0,17.0

In [237]:
fem_age_18 = fert_data.iloc[[35,36,37]]
fem_age_18.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,161910.0,2636.0,16.0,23716.0,604.0,25.0,234719.0,4119.0,18.0,103480.0,...,23.0,186776.0,1750.0,9.0,19736.0,386.0,20.0,102317.0,2097.0,20.0
20 to 34 years,481003.0,52593.0,109.0,76103.0,7308.0,96.0,706193.0,65389.0,93.0,293131.0,...,91.0,552020.0,51246.0,93.0,52846.0,6678.0,126.0,305223.0,15886.0,52.0
35 to 50 years,500606.0,10841.0,22.0,72171.0,2835.0,39.0,699314.0,23272.0,33.0,298024.0,...,18.0,560701.0,15747.0,28.0,55272.0,1233.0,22.0,337683.0,3124.0,9.0

In [238]:
fem_age_17 = fert_data.iloc[[46, 47, 48]]
fem_age_17.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,168330.0,2181.0,13.0,21654.0,241.0,11.0,233978.0,3505.0,15.0,101114.0,...,18.0,187706.0,1562.0,8.0,18127.0,621.0,34.0,111821.0,1870.0,17.0
20 to 34 years,482918.0,46216.0,96.0,78570.0,6947.0,88.0,685767.0,64963.0,95.0,285646.0,...,92.0,552470.0,50676.0,92.0,55582.0,5124.0,92.0,320657.0,15784.0,49.0
35 to 50 years,494740.0,10631.0,21.0,71227.0,2773.0,39.0,684272.0,20253.0,30.0,300200.0,...,19.0,562767.0,15045.0,27.0,51644.0,1257.0,24.0,361617.0,4506.0,12.0

In [239]:
fem_age_16 = fert_data.iloc[[57,58,59]]
fem_age_16.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,163021.0,3100.0,19.0,22097.0,279.0,13.0,231747.0,3476.0,15.0,106285.0,...,13.0,187002.0,1313.0,7.0,19001.0,311.0,16.0,114146.0,3195.0,28.0
20 to 34 years,481980.0,45480.0,94.0,82264.0,7712.0,94.0,678738.0,58967.0,87.0,286616.0,...,115.0,555087.0,57494.0,104.0,56479.0,6017.0,107.0,333374.0,19170.0,58.0
35 to 50 years,501915.0,8611.0,17.0,71586.0,1737.0,24.0,676641.0,18854.0,28.0,296185.0,...,12.0,561074.0,11499.0,20.0,53303.0,1058.0,20.0,370287.0,6191.0,17.0

In [240]:
fem_age_15 = fert_data.iloc[[68,69,70]]
fem_age_15.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,166258.0,2811.0,17.0,23568.0,526.0,22.0,227494.0,3806.0,17.0,94229.0,...,26.0,184065.0,1926.0,10.0,20787.0,623.0,30.0,121941.0,2752.0,23.0
20 to 34 years,483984.0,47797.0,99.0,80588.0,8859.0,110.0,675070.0,64595.0,96.0,295494.0,...,91.0,556923.0,51991.0,93.0,58479.0,6101.0,104.0,340903.0,22237.0,65.0
35 to 50 years,508055.0,8766.0,17.0,69404.0,1759.0,25.0,672789.0,17397.0,26.0,296925.0,...,17.0,569618.0,12010.0,21.0,54460.0,1003.0,18.0,378262.0,3939.0,10.0

In [241]:
fem_age_14 = fert_data.iloc[[79,80,81]]
fem_age_14.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,163448.0,3273.0,20.0,24491.0,779.0,32.0,221498.0,2601.0,12.0,99250.0,...,21.0,187334.0,1695.0,9.0,17844.0,273.0,15.0,121990.0,3468.0,28.0
20 to 34 years,486349.0,47875.0,98.0,79325.0,9130.0,115.0,670787.0,64662.0,96.0,291691.0,...,90.0,557112.0,51664.0,93.0,59517.0,5959.0,100.0,353769.0,26081.0,74.0
35 to 50 years,506390.0,7742.0,15.0,71750.0,1794.0,25.0,665297.0,15511.0,23.0,303046.0,...,14.0,576869.0,13639.0,24.0,54979.0,1297.0,24.0,386479.0,6558.0,17.0

In [242]:
fem_age_13 = fert_data.iloc[[90, 91, 92]]
fem_age_13.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,165283.0,4361.0,26.0,23594.0,372.0,16.0,222019.0,3483.0,16.0,93659.0,...,19.0,188546.0,2003.0,11.0,17569.0,279.0,16.0,131178.0,4263.0,32.0
20 to 34 years,483599.0,46816.0,97.0,79751.0,7975.0,100.0,659097.0,65145.0,99.0,292280.0,...,83.0,553673.0,50299.0,91.0,60470.0,6441.0,107.0,362867.0,24825.0,68.0
35 to 50 years,514443.0,6876.0,13.0,71952.0,2064.0,29.0,660744.0,14383.0,22.0,300714.0,...,9.0,582942.0,11606.0,20.0,55047.0,459.0,8.0,397081.0,4429.0,11.0

In [243]:
fem_age_12 = fert_data.iloc[[101,102,103]]
fem_age_12.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,160449.0,4737.0,30.0,22135.0,423.0,19.0,217771.0,5287.0,24.0,96953.0,...,13.0,189983.0,2599.0,14.0,19863.0,372.0,19.0,135488.0,3773.0,28.0
20 to 34 years,486392.0,49327.0,101.0,79959.0,8083.0,101.0,651745.0,63402.0,97.0,292020.0,...,92.0,551997.0,54606.0,99.0,56595.0,6525.0,115.0,367508.0,26456.0,72.0
35 to 50 years,515539.0,9383.0,18.0,75432.0,2215.0,29.0,666400.0,20983.0,31.0,305632.0,...,12.0,594203.0,13874.0,23.0,55395.0,1040.0,19.0,404721.0,5668.0,14.0

In [244]:
fem_age_11 = fert_data.iloc[[112,113,114]]
fem_age_11.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,164501.0,4937.0,30.0,24175.0,539.0,22.0,222455.0,6549.0,29.0,93381.0,...,23.0,195618.0,3195.0,16.0,18468.0,155.0,8.0,143213.0,5644.0,39.0
20 to 34 years,482901.0,53474.0,111.0,76832.0,9064.0,118.0,643169.0,59582.0,93.0,291619.0,...,83.0,546832.0,54536.0,100.0,56620.0,5824.0,103.0,376109.0,28952.0,77.0
35 to 50 years,526088.0,12190.0,23.0,77685.0,3280.0,42.0,664103.0,18565.0,28.0,308482.0,...,16.0,609365.0,11659.0,19.0,55677.0,1032.0,19.0,409910.0,4851.0,12.0

In [245]:
fem_age_10 = fert_data.iloc[[123,124,125]]
fem_age_10.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
15 to 19 years,167894.0,4756.0,28.0,25070.0,746.0,30.0,222457.0,6827.0,31.0,103730.0,...,32.0,197213.0,4170.0,21.0,17806.0,1066.0,60.0,138231.0,6742.0,49.0
20 to 34 years,479361.0,50576.0,106.0,74393.0,9550.0,128.0,635805.0,64576.0,102.0,282848.0,...,96.0,541445.0,55447.0,102.0,56386.0,6167.0,109.0,384133.0,33045.0,86.0
35 to 50 years,526757.0,10911.0,21.0,77818.0,2198.0,28.0,668891.0,14807.0,22.0,310609.0,...,13.0,621080.0,14107.0,23.0,56201.0,1081.0,19.0,410233.0,5925.0,14.0

In [246]:
fert_pop_22, birth_22, birth_thou_22 = fert_data_cleanup(fem_age_22, '22')
fert_pop_21, birth_21, birth_thou_21 = fert_data_cleanup(fem_age_21, '21')
fert_pop_19, birth_19, birth_thou_19 = fert_data_cleanup(fem_age_19, '19')
fert_pop_18, birth_18, birth_thou_18 = fert_data_cleanup(fem_age_18, '18')
fert_pop_17, birth_17, birth_thou_17 = fert_data_cleanup(fem_age_17, '17')
fert_pop_16, birth_16, birth_thou_16 = fert_data_cleanup(fem_age_16, '16')
fert_pop_15, birth_15, birth_thou_15 = fert_data_cleanup(fem_age_15, '15')
fert_pop_14, birth_14, birth_thou_14 = fert_data_cleanup(fem_age_14, '14')
fert_pop_13, birth_13, birth_thou_13 = fert_data_cleanup(fem_age_13, '13')
fert_pop_12, birth_12, birth_thou_12 = fert_data_cleanup(fem_age_12, '12')
fert_pop_11, birth_11, birth_thou_11 = fert_data_cleanup(fem_age_11, '11')
fert_pop_10, birth_10, birth_thou_10 = fert_data_cleanup(fem_age_10, '10')

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

/var/folders/s4/_nt7r71d05l5phnmnv1hwh3r0000gn/T/ipykernel_96954/4071128474.py:3: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

In [253]:
birth_22.head()

     State           Value  Count_22 Code
0  Alabama  15 to 19 years     651.0   AL
1  Alabama  20 to 34 years   48565.0   AL
2  Alabama  35 to 50 years   12290.0   AL
3   Alaska  15 to 19 years     124.0   AK
4   Alaska  20 to 34 years    7354.0   AK

In [254]:
birth_21.head()

     State           Value  Count_21 Code
0  Alabama  15 to 19 years    1408.0   AL
1  Alabama  20 to 34 years   42509.0   AL
2  Alabama  35 to 50 years   11676.0   AL
3   Alaska  15 to 19 years     132.0   AK
4   Alaska  20 to 34 years    6892.0   AK

In [257]:
# List of dataframes
dfs = [birth_22, birth_21, birth_19, birth_18, birth_17, birth_16, birth_15, birth_14, birth_13, birth_12, birth_11, birth_10]

# Initialize merged_df as the first dataframe in the list
merged_df = dfs[0]

# Loop over the rest of the dataframes
for df in dfs[1:]:
    # Merge the current dataframe with merged_df
    merged_df = pd.merge(merged_df, df, on=['State', 'Value', 'Code'], how='outer')

TypeError: merge() got multiple values for argument 'on'

In [256]:
merged_df.head()

     State           Value  Count_22 Code  Count_21
0  Alabama  15 to 19 years     651.0   AL    1408.0
1  Alabama  20 to 34 years   48565.0   AL   42509.0
2  Alabama  35 to 50 years   12290.0   AL   11676.0
3   Alaska  15 to 19 years     124.0   AK     132.0
4   Alaska  20 to 34 years    7354.0   AK    6892.0

In [251]:
fem_stat_2022 = fert_data.iloc[[6,7]]

fem_stat_2022.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Native,1124176.0,55575.0,49.0,152185.0,8756.0,58.0,1415213.0,68239.0,48.0,644947.0,...,51.0,1212803.0,60199.0,50.0,121847.0,7430.0,61.0,724276.0,21141.0,29.0
Foreign born,60544.0,5931.0,98.0,15526.0,1369.0,88.0,265572.0,18309.0,69.0,46192.0,...,85.0,89014.0,6381.0,72.0,4894.0,39.0,8.0,19204.0,567.0,30.0

In [252]:
labor_2022 = fert_data.iloc[[9,10]]

labor_2022.head()

,Alabama_total,Alabama_births,Alabama_thou,Alaska_total,Alaska_births,Alaska_thou,Arizona_total,Arizona_births,Arizona_thou,Arkansas_total,...,West Virginia_thou,Wisconsin_total,Wisconsin_births,Wisconsin_thou,Wyoming_total,Wyoming_births,Wyoming_thou,Puerto Rico_total,Puerto Rico_births,Puerto Rico_thou
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Women 16 to 50 years,1150145.0,61496.0,53.0,162533.0,10125.0,62.0,1629609.0,86284.0,53.0,671922.0,...,53.0,1263770.0,66567.0,53.0,123271.0,7469.0,61.0,725540.0,21708.0,30.0
In labor force,809492.0,38435.0,47.0,120748.0,5685.0,47.0,1177260.0,52104.0,44.0,461844.0,...,51.0,1018105.0,48719.0,48.0,96970.0,5657.0,58.0,465048.0,13114.0,28.0